.ubermenu-vertial-open {
    .jankx-integrate-ubermenu--vertical {
        display: block;
    }
}

.jankx-integrate-ubermenu--vertical {
    display: none;
    &.show {
        display: block;
    }
    .jankx-container {
        position: relative;
    }
    .ubermenu {
        position: absolute;
        top: 0;
        z-index: 99;
    }
}

.ubermenu-vertical .ubermenu-item > .ubermenu-submenu-type-mega {

}

@media(min-width: 998px) {
    .ubermenu-force-show {
        .jankx-integrate-ubermenu--vertical {
            display: block;
        }
    }
    .jankx-integrate-ubermenu--vertical .ubermenu .ubermenu-nav {
        width: 230px;
      }

      /* This rules for Elementor plugin */
      .ubermenu-force-show #jankx-main-content .elementor-section-wrap .elementor-section:first-child .elementor-row{
        padding-left: 230px;
      }
}
