/**
 * Module Name: Ubermenu
 * Author: Puleeno Nguyen
 * Author URI: https://puleeno.com
 * Version: 0.0.6.2
 */

.ubermenu-vertial-open .jankx-integrate-ubermenu--vertical {
  display: block;
}

.jankx-integrate-ubermenu--vertical {
  display: none;
  margin-left: 10px;
}
.jankx-integrate-ubermenu--vertical .jankx-container {
  position: relative;
}
.jankx-integrate-ubermenu--vertical .ubermenu {
  position: absolute;
  top: 0;
  z-index: 99;
}

@media (min-width: 998px) {
  .ubermenu-force-show .jankx-integrate-ubermenu--vertical {
    display: block;
  }

  .jankx-integrate-ubermenu--vertical .ubermenu .ubermenu-nav {
    width: 230px;
  }

  .ubermenu-force-show #jankx-main-content .elementor-section-wrap .elementor-section:first-child .elementor-row{
    padding-left: 230px;
  }
}
